.intro {
    
    img {
        position: absolute;
        z-index: -1;
        height: 100%;
        width: 100%;
    }

    .intro-name {
        margin-left: 785px;
        margin-top: 0px;
        color: whitesmoke;
        padding-top: 125px;
        font-size: 40px;
        font-weight: lighter;
    }

    .link {
        margin-left: 785px;
        color: whitesmoke;
        padding-top: -5px;
        font-size: larger;
    }
}